<a [routerLink]="['/']"
   routerLinkActive="active">
  Home
</a>

<app-table [data]="data"
           [columnsDefinition]="columnsDefinition"
           [showFilter]="true"
           tableTitle="Caught Pokemons"
           (rowDblClick)="onDoubleClick($event)"
           (rowActivated)="onRowActivated($event)">

  <ng-template cellTemplateForColumn="url"
               let-row="row">
    <a [routerLink]="['/pokemon', row.id]"
       routerLinkActive="active">
      {{row.id}}
    </a>
  </ng-template>

  <ng-template #tableToolbarTemplate>
    <div class="buttons-panel">
      <div>
        <button mat-icon-button
                matTooltip="Refresh"
                (click)="onRefresh()">
          <span class="material-icons">refresh</span>
        </button>

        <button mat-icon-button
                [disabled]="!isAciveRowPresent"
                matTooltip="Details"
                (click)="onShowDetails()">
          <span class="material-icons">more_horiz</span>
        </button>

        <button mat-icon-button
                [disabled]="!isAciveRowPresent"
                matTooltip="Won Pokemon"
                (click)="remove()">
          <span class="material-icons">delete_outline</span>
        </button>
      </div>
    </div>
  </ng-template>

</app-table>